.table-bordered {
    border: 2px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
th{
    border: 2px solid #ddd;
    color: #FF0000
}
td{
    border: 1px solid #ddd;
}
tr{
    border: 1px solid #ddd;
}